.resources__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: opacity .5s linear;
}

/*ссылки на странице при наведении мыши должны плавно становиться немного прозрачными*/
.resources__link:hover {
  opacity: 0.5;
}
